body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  height: 300vh;
}

.home{
  background-image: url('../src/images/desktop/image-hero.jpg');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.immersive{
  width: 50%;
  height: 35rem;
  border: 2px solid white;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: 60px;
}

.immersive h2{
  font-size: 60px;
  color: white;
  font-weight: 400;
}

.about{
  padding: 50px;
  display: flex;
}
.about-container{
  display: flex;

  align-items: center;
  width: 100%;
  text-align: left;
}

.about-container h1{
  margin-bottom: 30px;
  font-weight: 200;
  font-size: 40px;
}

.about-container h5{
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
  'Lucida Sans', Arial, sans-serif;
}


.about-details{
  background-color: white;
  padding: 50px;
  z-index: 2;
  width: 40%;
}

.image{
  width: 800px;
  height: 500px;
}


@media screen and (max-width: 1200px){
  .about-container{
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .image{
    width: 600px;
    height: 400px;
  }
  
  .about-img{
    width: 100%;
  }

  .about-details{
    width: 100%;
  }
}



@media screen and (max-width: 768px) {
  .immersive{
    width: 80%;
    height: 30rem;
    border: 2px solid white;
    overflow-x: hidden;
    margin-left: 35px;
    margin-top: 100px;
  }

  .immersive h2{
    font-size: 40px;
    color: white;
  }

  .about-img{
    width: 100%;
  }

  .about-details{
    width: 100%;
  }

  .image{
    width: 500px;
    height: 300px;
  }


}



@media screen and (max-width: 600px) {

  .about{
    padding: 30px;
    display: flex;
  }

  .about-img{
    width: 100%;
  }

  .about-details{
    width: 100%;
  }

  .image{
    width: 300px;
    height: 200px;
  }

  .about-details h1{
    font-size: 30px;
  }

}