body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  height: 300vh;
}

.home{
  background-image: url('../src/images/desktop/image-hero.jpg');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.immersive{
  width: 50%;
  height: 35rem;
  border: 2px solid white;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: 60px;
}

.immersive h2{
  font-size: 60px;
  color: white;
  font-weight: 400;
}

.about{
  padding: 50px;
  display: flex;
  overflow-x: hidden;
}
.about-container{
  display: flex;

  align-items: center;
  width: 100%;
  text-align: left;
}

.about-container h1{
  margin-bottom: 30px;
  font-weight: 200;
  font-size: 40px;
}

.about-container p{
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
  'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}


.about-details{
  background-color: white;
  padding: 50px;
  z-index: 2;
  width: 40%;
}

.image{
  width: 800px;
  height: 500px;
}




.articles{
  padding: 50px;
  overflow-x: hidden;
}

.creation-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creation-btn h1{
  color: rgb(101, 99, 99);
  font-weight: 400;
}

.see-more-btn{
  background: #000;
  width: 150px;
  height: 50px;
  color: white;
  border: none;
}

.image-row{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.image-row2{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.image-row h2, .image-row2 h2{
  color: white;
  font-size: 30px;
  padding-top: 145%;
  padding-left: 30px;
  font-weight: 300;
  text-shadow: 2px 2px 6px rgb(70, 69, 69);
}

.image1{
  background-image: url(../src/images/desktop/image-deep-earth.jpg);
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
}

.image2{
  background-image: url(../src/images/desktop/image-night-arcade.jpg);
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
}

.image3{
  background-image: url(../src/images/desktop/image-soccer-team.jpg);
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
}

.image4{
  background-image: url(../src/images/desktop/image-from-above.jpg);
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
}

.image5{
  background-image: url(../src/images/desktop/image-grid.jpg);
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
}

.image6{
  background-image: url(../src/images/desktop/image-pocket-borealis.jpg);
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
}

.image7{
  background-image: url(../src/images/desktop/image-curiosity.jpg);
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
}

.image8{
  background-image: url(../src/images/desktop/image-fisheye.jpg);
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
}

.down-btn{
  display: none;
}


.Footer{
  width: 100%;
  height: 30vh;
  background-color: #000;
  padding: 50px;
}

.Footer h1{
  color: white;
}

.icons{
  width: 130px;
  display: flex;
  justify-content: space-between;
}

.icons img{
  width: 20px;
  height: 20px;
}


.footer-1{
  display: flex;
  justify-content: space-between;
}

.footer-2{
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 30px;
}

.about-companies{
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.about-companies span{
  display: flex;
  color: white;
  padding-left: 20px;
}

















@media screen and (max-width: 1200px){
  .about-container{
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .image{
    width: 600px;
    height: 400px;
  }
  
  .about-img{
    width: 100%;
  }

  .about-details{
    width: 100%;
  }
}






@media screen and (max-width: 768px) {

  .app{
    height: 500vh;
    overflow-x: hidden;
  }

  .immersive{
    width: 80%;
    height: 30rem;
    border: 2px solid white;
    overflow-x: hidden;
    margin-left: 35px;
    margin-top: 100px;
  }

  .immersive h2{
    font-size: 40px;
    color: white;
  }

  .about-details h1{
    font-size: 33px;
  }

  .about-img{
    width: 100%;
  }

  .about-details{
    width: 100%;
  }

  .image{
    width: 500px;
    height: 300px;
  }


  .image-row{
    display:flex;
    flex-direction: column;
    grid-column: span;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    width: 100%;
  }

  .image-row2{
    display:flex;
    flex-direction: column;
    grid-column: span;
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;
    width: 100%;
  }

  .image-row h2, .image-row2 h2{
    color: white;
    font-size: 20px;
    padding-top: 34%;
    padding-left: 30px;
    font-weight: 300;
    text-shadow: 2px 2px 6px rgb(134, 133, 133);
  }
  


  .image1{
    background-image: url(../src/images/mobile/image-deep-earth.jpg);
    background-position: center;
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
  }
  
  .image2{
    background-image: url(../src/images/mobile/image-night-arcade.jpg);
    background-position: center;
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
  }

  .image3{
    background-image: url(../src/images/mobile/image-soccer-team.jpg);
    background-position: center;
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
  }

  .image4{
    background-image: url(../src/images/mobile/image-from-above.jpg);
    background-position: center;
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
  }

  .image5{
    background-image: url(../src/images/mobile/image-grid.jpg);
    background-position: center;
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
  }

  .image6{
    background-image: url(../src/images/mobile/image-pocket-borealis.jpg);
    background-position: center;
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
  }

  .image7{
    background-image: url(../src/images/mobile/image-curiosity.jpg);
    background-position: center;
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
  }

  .image8{
    background-image: url(../src/images/mobile/image-fisheye.jpg);
    background-position: center;
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
  }

  .creation-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .see-more-btn{
    display: none;
  }

  .down-btn{
    width: 150px;
    height: 50px;
    color: white;
    background-color: #000;
    border: none;
    display: block;
  }

  .down-btn:hover{
    background-color: #000;
  }


  .Footer{
    width: 100%;
    height: 70vh;
    background-color: #000;
    padding: 50px;
  }

  .footer-1{
    display: flex;
    flex-direction: column;
  }
  
  .footer-2{
    display: flex;
    flex-direction: column;
  }

  .icons{
    padding-top: 30px;
  }

  .about-companies{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about-companies span{
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-2 p{
    font-size: 10px;
    padding-top: 30px;
  }

}



















@media screen and (max-width: 600px) {

  .about{
    padding: 30px;
    display: flex;
  }

  .about-img{
    width: 100%;
  }

  .about-details{
    text-align: center;
  }

  .image{
    width: 300px;
    height: 200px;
  }

  .about-details p{
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
     Geneva, Verdana, sans-serif;
     line-height: 40px;
  }


}